.eachTask {
    border: 5px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: lightcyan;
}

#filterBtns {
    text-align: center;
    margin: 0.5rem;
}

#filterBtns button {
    background-color: lightcyan;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.catTitle {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button {
    border: 3px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
}

body, button, input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button, input {
    background-color: lightcyan;
}

input {
    border-color: black;
}

label {
    margin-left: 3px;
    margin-right: 3px;
}

#appName {
    text-align: center;
}